<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<h:head />
	<h:body>
		<div id="cabecalho">
			<h:graphicImage library="img" name="logo.png" />

			<h1>
				<ui:insert name="titulo"></ui:insert>
			</h1>
			
			<h:form rendered="#{ view.viewId != '/login.xhtml'  }">
				<h:commandLink value="Logout" action="#{loginBean.logout}" />
			</h:form>
		</div>
	
		<div id="conteudo">
			<ui:insert name="conteudo">
			</ui:insert>
		</div>
	</h:body>

</html>