<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	  
	  

	<ui:composition template="_template.xhtml" >

		<ui:define name="cabecalho">

			<ui:insert>Fazer Login</ui:insert>
	
		</ui:define>
	
		<ui:define name="conteudo">

			<h:messages globalOnly="true" />
	
			<h:form id="login">
				
				<fieldset>
				
					<legend>LOGIN</legend>
					
						<h:panelGrid columns="2">
						
							<h:outputLabel value="E-mail : "  for="email"/>
							<h:inputText id="email" value="#{loginBean.usuario.email}" />
							
							<h:outputLabel value="Senha : "  for="senha"/>
							<h:inputSecret id="senha" value="#{loginBean.usuario.senha}" />
							
							<h:commandButton value="Efetuar Login" action="#{loginBean.efetuarLogin}" />
					
					</h:panelGrid>
				
				</fieldset>
			
			</h:form>
		
		</ui:define>
	</ui:composition>
</html>